<footer class="footer bg-dark py-3 mt-auto">
    <div class="container d-flex justify-content-between">
        <div class="text-light">&copy; Yelpcamp 2024</div>
        <div class="text-light">Contact us: admin@gmail.com</div>
    </div>
</footer>